@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.button-color{
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}
.hero-text{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
}
.hero-paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3E3E3E;
}